.programm{
    .container{
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        @include calculateResponsiveProperty(1024px, 1600px, 24px, 40px, row-gap);
    }
}

.programm-title{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    p{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        color: #b2cbd2;
    }

    h3{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 117%;
        color: #333;
        @include calculateResponsiveProperty(1024px, 1600px, 24px, 28px, font-size);
    }
}